<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.donglan.mapper.AccountMapper">

    <resultMap id="accountUserMap" type="Account" autoMapping="true">
        <!--
            一对一查询：account的字段和实体类属性自动映射
            关联表的数据需要手动映射

            对一对一查询进行懒加载设置
            fetchType属性，表示第二张表的查询是懒加载的模式
            select属性，表示要调用第二张表查询的路径/标识
        -->
        <association property="user" javaType="User" autoMapping="true" select="com.donglan.mapper.UserMapper.findUserByUid" column="uid"></association>
    </resultMap>
    <select id="findAccountByAid" parameterType="int" resultMap="accountUserMap">
        select *from t_account where aid = #{aid}
    </select>

    <select id="findAccountByuid" parameterType="int" resultType="Account">
        select *from t_account where uid = #{uid}
    </select>

</mapper>